<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <a href="/">Inicio</a>
        <a href="/formacion">Planificación</a>
        <a href="/seguimiento">Seguimiento</a>
        <a href="/datos">Ver Datos</a>
        <a href="/reportes">Reportes</a>
        <a href="/login">Login</a>
    </nav>
    {{{body}}}
</body>
</html>
