<h1>{{title}}</h1>
<canvas id="chart"></canvas>

<h2>Lista de Usuarios</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Rol</th>
        </tr>
    </thead>
    <tbody>
        {{#each usuarios}}
        <tr>
            <td>{{this._id}}</td>
            <td>{{this.username}}</td>
            <td>{{this.role}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
